EXPO_PUBLIC_SUPABASE_URL=https://oqhzmtdatdrnkjqbzxwy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xaHptdGRhdGRybmtqcWJ6eHd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNjk1MzcsImV4cCI6MjA5NDk0NTUzN30.kPH9yByczdQhqLNffgERAo28wY-RjCWzUYDE9g30pUs
